Repository iii-hq/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-python, mypy-python, biome-node, cargo-fmt-rust

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-python
        name: ruff (Python)
        entry: bash -c 'cd packages/python/iii && ruff check --fix src'
        language: system
        types: [python]
        files: ^packages/python/.*\.py$
        pass_filenames: false
        always_run: false

      - id: mypy-python
        name: mypy (Python)
        entry: bash -c 'cd packages/python/iii && mypy src'
        language: system
        types: [python]
        files: ^packages/python/.*\.py$
        pass_filenames: false
        always_run: false

      - id: biome-node
        name: biome (Node.js)
        entry: bash -c 'cd packages/node && npx @biomejs/biome check --write packages/node'
        language: system
        files: ^packages/node/.*\.(ts|js|tsx|jsx)$
        pass_filenames: false
        always_run: false

      - id: cargo-fmt-rust
        name: cargo fmt (Rust)
        entry: bash -c 'cd packages/rust/iii && cargo fmt --all'
        language: system
        types: [rust]
        files: ^packages/rust/.*\.rs$
        pass_filenames: false
        always_run: false

feat: add comprehensive README.md for III SDK documentation
  README.md
Due: none

chore: update GitHub App token configuration in CI workflows to use III credentials
  .github/workflows/create-tag.yml
  .github/workflows/prerelease-node-sdk.yml
  .github/workflows/release.yml
  .github/workflows/rollback.yml
Due: none

chore: update Cargo.toml with project metadata for III SDK
  packages/rust/iii/Cargo.toml
Due: none

fix: correct syntax error in Cargo.toml categories field
  packages/rust/iii/Cargo.toml
Due: none

refactor: rename package from @iii-dev/sdk to iii-sdk across all files
  .github/workflows/ci-node.yml
  .github/workflows/prerelease-node-sdk.yml
  .github/workflows/release.yml
  .github/workflows/validate-release.yml
  README.md
  packages/node/iii-example/package.json
  packages/node/iii-example/src/hooks.ts
  packages/node/iii-example/src/iii.ts
  packages/node/iii-example/src/test-worker-metrics.ts
  packages/node/iii/README.md
  packages/node/iii/package.json
  packages/node/iii/tests/utils.ts
  packages/node/pnpm-lock.yaml
  packages/python/iii/pyproject.toml
Due: biome-node

refactor: rename package from @iii-dev/sdk to iii-sdk across all files (#11)
  .github/workflows/ci-node.yml
  .github/workflows/prerelease-node-sdk.yml
  .github/workflows/release.yml
  .github/workflows/validate-release.yml
  README.md
  packages/node/iii-example/package.json
  packages/node/iii-example/src/hooks.ts
  packages/node/iii-example/src/iii.ts
  packages/node/iii-example/src/test-worker-metrics.ts
  packages/node/iii/README.md
  packages/node/iii/package.json
  packages/node/iii/tests/utils.ts
  packages/node/pnpm-lock.yaml
  packages/python/iii/pyproject.toml
Due: biome-node

chore: update pre-release workflows for Node.js, Python, and Rust SDKs
  .github/workflows/prerelease-node-sdk.yml
  .github/workflows/prerelease-python-sdk.yml
  .github/workflows/prerelease-rust-sdk.yml
  .github/workflows/release.yml
  packages/node/iii-example/package.json
  packages/node/iii/package.json
  packages/node/package.json
  packages/node/pnpm-lock.yaml
Due: none

chore: update working directories in pre-release workflows for Node.js and Python SDKs
  .github/workflows/prerelease-node-sdk.yml
  .github/workflows/prerelease-python-sdk.yml
Due: none

test: reproduce dedup bug
  packages/python/iii/tests/test_bridge_registration_dedup.py
Due: ruff-python, mypy-python

test: cover reconnect queue
  packages/python/iii/tests/test_bridge_registration_dedup.py
Due: ruff-python, mypy-python

fix: dedup register replay
  packages/python/iii/src/iii/bridge.py
  packages/python/iii/tests/test_bridge_registration_dedup.py
Due: ruff-python, mypy-python

fix: logger function
  packages/python/iii/pyproject.toml
  packages/python/iii/src/iii/logger.py
  packages/python/iii/tests/test_logger_function_ids.py
  packages/python/iii/uv.lock
Due: ruff-python, mypy-python

chore: integration validate
  packages/python/iii/src/iii/__init__.py
Due: ruff-python, mypy-python

chore: add telemetry support in Rust SDK
  .gitignore
  packages/rust/iii/.gitignore
  packages/rust/iii/Cargo.lock
  packages/rust/iii/Cargo.toml
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/protocol.rs
  packages/rust/iii/src/telemetry/connection.rs
  packages/rust/iii/src/telemetry/context.rs
  packages/rust/iii/src/telemetry/log_exporter.rs
  packages/rust/iii/src/telemetry/metrics_exporter.rs
  packages/rust/iii/src/telemetry/mod.rs
  packages/rust/iii/src/telemetry/otel_worker_gauges.rs
  packages/rust/iii/src/telemetry/span_exporter.rs
  packages/rust/iii/src/telemetry/types.rs
  packages/rust/iii/src/telemetry/worker_metrics.rs
Due: cargo-fmt-rust

refactor: improve code formatting and organization in telemetry modules
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/telemetry/connection.rs
  packages/rust/iii/src/telemetry/context.rs
  packages/rust/iii/src/telemetry/log_exporter.rs
  packages/rust/iii/src/telemetry/metrics_exporter.rs
  packages/rust/iii/src/telemetry/mod.rs
  packages/rust/iii/src/telemetry/otel_worker_gauges.rs
  packages/rust/iii/src/telemetry/span_exporter.rs
  packages/rust/iii/src/telemetry/worker_metrics.rs
Due: cargo-fmt-rust

feat: enhance README.md with updated usage examples and API trigger registration
  packages/python/iii/README.md
  packages/python/iii/src/iii/__init__.py
Due: ruff-python, mypy-python

fix: logger and dedup (#10)
  packages/python/iii/pyproject.toml
  packages/python/iii/src/iii/bridge.py
  packages/python/iii/src/iii/logger.py
  packages/python/iii/tests/test_bridge_registration_dedup.py
  packages/python/iii/tests/test_logger_function_ids.py
  packages/python/iii/uv.lock
Due: ruff-python, mypy-python

chore: add telemetry support in Rust SDK (#12)
  .gitignore
  packages/rust/iii/.gitignore
  packages/rust/iii/Cargo.lock
  packages/rust/iii/Cargo.toml
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/protocol.rs
  packages/rust/iii/src/telemetry/connection.rs
  packages/rust/iii/src/telemetry/context.rs
  packages/rust/iii/src/telemetry/log_exporter.rs
  packages/rust/iii/src/telemetry/metrics_exporter.rs
  packages/rust/iii/src/telemetry/mod.rs
  packages/rust/iii/src/telemetry/otel_worker_gauges.rs
  packages/rust/iii/src/telemetry/span_exporter.rs
  packages/rust/iii/src/telemetry/types.rs
  packages/rust/iii/src/telemetry/worker_metrics.rs
Due: cargo-fmt-rust

feat: add comprehensive CI/CD workflows documentation and enhance versioning in workflows
  .github/CI-WORKFLOWS.md
  .github/workflows/create-tag.yml
  .github/workflows/release.yml
  .github/workflows/rollback.yml
Due: none

feat: rename streams to stream
  .github/engine-config/test-config.yml
  packages/node/iii-example/config.yaml
  packages/node/iii-example/src/index.ts
  packages/node/iii-example/src/stream.ts
  packages/node/iii/package.json
  packages/node/iii/src/iii.ts
  packages/node/iii/src/index.ts
  packages/node/iii/src/stream.ts
  packages/node/iii/src/types.ts
  packages/node/iii/tests/stream.test.ts
  packages/node/iii/tests/types.ts
  packages/node/iii/tsdown.config.ts
  packages/python/iii-example/config.yaml
  packages/python/iii-example/src/main.py
  packages/python/iii-example/src/stream.py
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/bridge.py
  packages/python/iii/src/iii/stream.py
  packages/python/iii/src/iii/types.py
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/stream.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

chore: renaming list groups
  packages/node/iii-example/src/stream.ts
  packages/node/iii/src/iii.ts
  packages/python/iii/src/iii/bridge.py
Due: ruff-python, mypy-python, biome-node

feat: rename streams to stream (#13)
  .github/engine-config/test-config.yml
  packages/node/iii-example/config.yaml
  packages/node/iii-example/src/index.ts
  packages/node/iii-example/src/stream.ts
  packages/node/iii/package.json
  packages/node/iii/src/iii.ts
  packages/node/iii/src/index.ts
  packages/node/iii/src/stream.ts
  packages/node/iii/src/types.ts
  packages/node/iii/tests/stream.test.ts
  packages/node/iii/tests/types.ts
  packages/node/iii/tsdown.config.ts
  packages/python/iii-example/config.yaml
  packages/python/iii-example/src/main.py
  packages/python/iii-example/src/stream.py
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/bridge.py
  packages/python/iii/src/iii/stream.py
  packages/python/iii/src/iii/types.py
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/stream.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

chore: simplify CI workflows by removing engine setup and test steps
  .github/workflows/ci-node.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/release.yml
Due: none

fix: event module rename
  .github/engine-config/test-config.yml
Due: none

refactor: update type hint for list_groups method and adjust import statements
  packages/python/iii/src/iii/stream.py
  packages/rust/iii/src/lib.rs
Due: ruff-python, mypy-python, cargo-fmt-rust

fix: remove rust binaries build job and fix python checkout permissions
  .github/workflows/release.yml
Due: none

chore: remove pre-release detection from CI workflows
  .github/workflows/release.yml
Due: none

chore: update version bump process in CI workflows
  .github/workflows/create-tag.yml
Due: none

chore: add pre-release detection to CI workflows
  .github/workflows/release.yml
Due: none

chore: rename bridge
  packages/python/iii-example/src/hooks.py
  packages/python/iii-example/src/iii.py
  packages/python/iii-example/src/main.py
  packages/python/iii-example/src/state.py
  packages/python/iii-example/src/stream.py
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/iii_types.py
  packages/python/iii/src/iii/logger.py
  packages/python/iii/src/iii/types.py
  packages/python/iii/tests/test_iii_registration_dedup.py
Due: ruff-python, mypy-python

Update packages/python/iii/src/iii/iii_types.py
  packages/python/iii/src/iii/iii_types.py
Due: ruff-python, mypy-python

Update packages/python/iii/src/iii/logger.py
  packages/python/iii/src/iii/logger.py
Due: ruff-python, mypy-python

Remove bridge mentions (#14)
  packages/python/iii-example/src/hooks.py
  packages/python/iii-example/src/iii.py
  packages/python/iii-example/src/main.py
  packages/python/iii-example/src/state.py
  packages/python/iii-example/src/stream.py
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/iii_types.py
  packages/python/iii/src/iii/logger.py
  packages/python/iii/src/iii/types.py
  packages/python/iii/tests/test_iii_registration_dedup.py
Due: ruff-python, mypy-python

feat: remove function
  packages/node/iii/tests/healthcheck.test.ts
  packages/node/iii/tests/setup.ts
Due: biome-node

feat: remove function (#16)
  packages/node/iii/tests/healthcheck.test.ts
  packages/node/iii/tests/setup.ts
Due: biome-node

fix: event module rename (#15)
  .github/engine-config/test-config.yml
Due: none

refactor: update Python SDK function registration method
  README.md
  packages/python/iii/src/iii/iii.py
Due: ruff-python, mypy-python

chore: update lib
  packages/rust/iii-example/Cargo.lock
  packages/rust/iii-example/Cargo.toml
  packages/rust/iii-example/src/main.rs
  packages/rust/iii/Cargo.lock
  packages/rust/iii/Cargo.toml
  packages/rust/iii/README.md
  packages/rust/iii/src/bridge.rs
  packages/rust/iii/src/error.rs
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/logger.rs
  packages/rust/iii/src/protocol.rs
  packages/rust/iii/src/stream.rs
  packages/rust/iii/src/triggers.rs
  packages/rust/iii/src/types.rs
Due: cargo-fmt-rust

chore: lint
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
Due: cargo-fmt-rust
