Repository iii-hq/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-python, mypy-python, biome-node, cargo-fmt-rust

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-python
        name: ruff (Python)
        entry: bash -c 'cd packages/python/iii && ruff check --fix src'
        language: system
        types: [python]
        files: ^packages/python/.*\.py$
        pass_filenames: false
        always_run: false

      - id: mypy-python
        name: mypy (Python)
        entry: bash -c 'cd packages/python/iii && mypy src'
        language: system
        types: [python]
        files: ^packages/python/.*\.py$
        pass_filenames: false
        always_run: false

      - id: biome-node
        name: biome (Node.js)
        entry: bash -c 'cd packages/node && npx @biomejs/biome check --write packages/node'
        language: system
        files: ^packages/node/.*\.(ts|js|tsx|jsx)$
        pass_filenames: false
        always_run: false

      - id: cargo-fmt-rust
        name: cargo fmt (Rust)
        entry: bash -c 'cd packages/rust/iii && cargo fmt --all'
        language: system
        types: [rust]
        files: ^packages/rust/.*\.rs$
        pass_filenames: false
        always_run: false

fix(python): capture response traceparent inside OTel context and inject baggage on sender side
  packages/python/iii/src/iii/iii.py
Due: ruff-python, mypy-python

feat(python): remove otlp_endpoint from OtelConfig, add logs_enabled
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/src/iii/telemetry_types.py
  packages/python/iii/tests/test_telemetry.py
  packages/python/iii/tests/test_telemetry_types.py
Due: ruff-python, mypy-python

feat(python): add SharedEngineConnection for OTel WebSocket transport
  packages/python/iii/src/iii/telemetry_exporters.py
  packages/python/iii/tests/test_telemetry_exporters.py
Due: ruff-python, mypy-python

feat(python): add EngineSpanExporter and EngineLogExporter
  packages/python/iii/src/iii/telemetry_exporters.py
  packages/python/iii/tests/test_telemetry_exporters.py
Due: ruff-python, mypy-python

feat(python): replace OTLP HTTP exporter with EngineSpanExporter + EngineLogExporter
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/tests/test_telemetry.py
Due: ruff-python, mypy-python

feat(python): route Logger through OTel log bridge when OTel is initialized
  packages/python/iii/src/iii/logger.py
  packages/python/iii/tests/test_logger_otel.py
Due: ruff-python, mypy-python

feat(python): wire asyncio event loop into init_otel for SharedEngineConnection
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/telemetry.py
Due: ruff-python, mypy-python

feat(python): auto-initialize OTel in III.connect() using OTEL_ENABLED env var
  packages/python/iii/src/iii/iii.py
Due: ruff-python, mypy-python

fix(python): use hex-encoded trace/span IDs in OTLP JSON serializers
  packages/python/iii/pyproject.toml
  packages/python/iii/src/iii/telemetry_exporters.py
  packages/python/iii/tests/test_telemetry_exporters.py
Due: ruff-python, mypy-python

fix(python): enable OTel by default and use SimpleSpanProcessor for immediate export
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/tests/test_context_propagation.py
  packages/python/iii/tests/test_telemetry.py
Due: ruff-python, mypy-python

fix(python): use JSON numbers for intValue in OTLP attribute serialization
  packages/python/iii/src/iii/telemetry_exporters.py
  packages/python/iii/tests/test_telemetry_exporters.py
Due: ruff-python, mypy-python

feat(python): replace URLLibInstrumentor with custom fetch instrumentation
  packages/python/iii-example/pyproject.toml
  packages/python/iii/pyproject.toml
  packages/python/iii/src/iii/telemetry.py
Due: ruff-python, mypy-python

feat(python): add HTTP fetch and post examples with OTel instrumentation
  packages/node/iii-example/src/http-example.ts
  packages/python/iii-example/src/main.py
  packages/python/iii-example/uv.lock
  packages/python/iii/uv.lock
Due: ruff-python, mypy-python, biome-node

refactor(python): update telemetry system to use batch processors and enhance metrics collection
  packages/node/iii/src/telemetry-system/index.ts
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/context.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/iii_types.py
  packages/python/iii/src/iii/logger.py
  packages/python/iii/src/iii/otel_worker_gauges.py
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/src/iii/telemetry_exporters.py
  packages/python/iii/src/iii/telemetry_types.py
  packages/python/iii/src/iii/types.py
  packages/python/iii/src/iii/worker_metrics.py
  packages/rust/iii-example/Cargo.lock
  packages/rust/iii-example/Cargo.toml
  packages/rust/iii-example/src/http_example.rs
  packages/rust/iii-example/src/main.rs
  packages/rust/iii/src/context.rs
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/logger.rs
  packages/rust/iii/src/protocol.rs
  packages/rust/iii/src/stream.rs
  packages/rust/iii/src/telemetry/json_serializer.rs
  packages/rust/iii/src/telemetry/log_exporter.rs
  packages/rust/iii/src/telemetry/metrics_exporter.rs
  packages/rust/iii/src/telemetry/mod.rs
  packages/rust/iii/src/telemetry/span_exporter.rs
  packages/rust/iii/src/types.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

refactor(python): reorganize imports and enhance type hints across modules
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/logger.py
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/src/iii/telemetry_exporters.py
  packages/python/iii/src/iii/telemetry_types.py
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/stream.rs
  packages/rust/iii/src/telemetry/http_instrumentation.rs
  packages/rust/iii/src/telemetry/json_serializer.rs
  packages/rust/iii/src/telemetry/metrics_exporter.rs
  packages/rust/iii/src/telemetry/mod.rs
Due: ruff-python, mypy-python, cargo-fmt-rust

refactor(python): enhance telemetry system and improve test isolation
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
  packages/node/iii/tests/fetch-instrumentation.test.ts
  packages/python/iii/src/iii/telemetry_exporters.py
  packages/python/iii/src/iii/telemetry_types.py
  packages/python/iii/tests/test_context_propagation.py
  packages/python/iii/tests/test_iii_registration_dedup.py
  packages/python/iii/tests/test_logger_otel.py
  packages/python/iii/tests/test_telemetry.py
  packages/rust/iii/src/telemetry/http_instrumentation.rs
  packages/rust/iii/src/telemetry/json_serializer.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

refactor(rust): update log body serialization in telemetry exporter
  packages/rust/iii/src/telemetry/log_exporter.rs
Due: cargo-fmt-rust

refactor(python): simplify Logger initialization and enhance trace context handling
  packages/node/iii-example/src/index.ts
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/logger.py
  packages/python/iii/tests/test_logger_function_ids.py
  packages/python/iii/tests/test_logger_otel.py
  packages/rust/iii-example/src/http_example.rs
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/logger.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

refactor(rust): simplify context tests and Logger initialization
  packages/rust/iii/src/context.rs
  packages/rust/iii/src/logger.rs
Due: cargo-fmt-rust

refactor(rust): simplify log body serialization in telemetry exporter
  packages/rust/iii/src/telemetry/log_exporter.rs
Due: cargo-fmt-rust

refactor: rename call methods to trigger for consistency across SDKs
  packages/node/iii/src/iii.ts
  packages/node/iii/src/types.ts
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/types.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/stream.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

refactor: rename call methods to trigger for consistency across SDKs (#26)
  packages/node/iii/src/iii.ts
  packages/node/iii/src/types.ts
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/types.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/stream.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

feat(telemetry): add telemetry options to SDK init
  packages/node/iii/src/iii.ts
  packages/python/iii/src/iii/iii.py
  packages/rust/iii/Cargo.lock
  packages/rust/iii/src/iii.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

feat(telemetry): add telemetry options to SDK init (#27)
  packages/node/iii/src/iii.ts
  packages/python/iii/src/iii/iii.py
  packages/rust/iii/Cargo.lock
  packages/rust/iii/src/iii.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

chore: ignore .worktrees
  .gitignore
Due: none

fix: restore gitignore
  .gitignore
Due: none

docs: overhaul all SDK READMEs with correct API patterns
  README.md
  packages/node/iii/README.md
  packages/python/iii/README.md
  packages/rust/iii/README.md
Due: none

refactor: rename 'data' to 'value' in state management across Node.js and Python SDKs
  packages/node/iii/src/state.ts
  packages/python/iii-example/src/state.py
Due: ruff-python, mypy-python, biome-node

feat: use init for python and rust sdk
  packages/python/iii-example/src/hooks.py
  packages/python/iii-example/src/iii.py
  packages/python/iii-example/src/main.py
  packages/python/iii-example/src/state.py
  packages/python/iii-example/src/stream.py
  packages/python/iii/README.md
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/tests/test_init_api.py
  packages/python/iii/uv.lock
  packages/rust/iii-example/Cargo.lock
  packages/rust/iii-example/src/main.rs
  packages/rust/iii/Cargo.lock
  packages/rust/iii/README.md
  packages/rust/iii/src/error.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/tests/init_api.rs
Due: ruff-python, mypy-python, cargo-fmt-rust

refactor(tests): update 'data' parameter to 'value' in state management tests
  packages/node/iii/tests/state.test.ts
Due: biome-node

fix: mypy
  packages/python/iii/src/iii/iii.py
Due: ruff-python, mypy-python

ci: setup tests for python and rust
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/release.yml
  packages/python/iii/pyproject.toml
  packages/python/iii/uv.lock
  packages/rust/iii/Cargo.lock
Due: none

ci: setup tests for python and rust (#32)
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/release.yml
  packages/python/iii/pyproject.toml
  packages/python/iii/uv.lock
  packages/rust/iii/Cargo.lock
Due: none

refactor: rename 'data' to 'value' in state management across SDKs (#30)
  packages/node/iii/src/state.ts
  packages/node/iii/tests/state.test.ts
  packages/python/iii-example/src/state.py
Due: ruff-python, mypy-python, biome-node

feat: add optional metadata parameter to register_function and IIIClient interface
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/types.py
Due: ruff-python, mypy-python

test: mock telemetry functions in registration deduplication tests
  packages/python/iii/tests/test_iii_registration_dedup.py
Due: ruff-python, mypy-python

fix: build issue
  packages/node/iii/src/index.ts
Due: biome-node

chore: addressing comments
  packages/node/iii/src/channels.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/src/index.ts
  packages/node/iii/src/types.ts
  packages/node/iii/src/utils.ts
  packages/node/iii/tests/api-triggers.test.ts
  packages/node/iii/tests/data-channels.test.ts
  packages/python/iii/src/iii/channels.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/types.py
  packages/python/iii/tests/test_data_channels.py
  packages/rust/iii/src/channels.rs
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/tests/api_triggers.rs
  packages/rust/iii/tests/data_channels.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust
