Repository iii-hq/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-python, mypy-python, biome-node, cargo-fmt-rust

ruff-python:
  name: ruff (Python)
  entry: bash -c 'cd packages/python/iii && ruff check --fix src'
  language: system
  pass_filenames: false
  always_run: false

mypy-python:
  name: mypy (Python)
  entry: bash -c 'cd packages/python/iii && mypy src'
  language: system
  pass_filenames: false
  always_run: false

biome-node:
  name: biome (Node.js)
  entry: bash -c 'cd packages/node && npx @biomejs/biome check --write packages/node'
  language: system
  pass_filenames: false
  always_run: false

cargo-fmt-rust:
  name: cargo fmt (Rust)
  entry: bash -c 'cd packages/rust/iii && cargo fmt --all'
  language: system
  pass_filenames: false
  always_run: false

nit: small README text changes during review
  README.md
  packages/node/iii/README.md
  packages/python/iii/README.md
  packages/rust/iii/README.md
Due: none

feat: consolidate registerFunction to accept handler or HttpInvocationConfig
  Makefile
  packages/node/iii/src/iii.ts
  packages/node/iii/src/types.ts
  packages/node/iii/tests/http-external-functions.test.ts
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/types.py
  packages/python/iii/tests/test_http_external_functions_integration.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/types.rs
  packages/rust/iii/tests/http_external_functions.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

feat: add configurable log processing parameters to telemetry system
  packages/node/iii/src/telemetry-system/index.ts
  packages/node/iii/src/telemetry-system/types.ts
  packages/node/iii/src/telemetry-system/utils.ts
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/src/iii/telemetry_types.py
  packages/python/iii/tests/test_telemetry.py
  packages/python/iii/tests/test_telemetry_types.py
  packages/rust/iii/Cargo.lock
  packages/rust/iii/src/telemetry/mod.rs
  packages/rust/iii/src/telemetry/types.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

refactor: streamline logger provider initialization in telemetry module
  packages/rust/iii/src/telemetry/mod.rs
Due: cargo-fmt-rust

refactor: improve code formatting and type handling in telemetry system
  packages/node/iii/src/telemetry-system/index.ts
  packages/node/iii/src/telemetry-system/utils.ts
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/uv.lock
Due: ruff-python, mypy-python, biome-node

feat: add configurable log processing parameters to telemetry system (#39)
  packages/node/iii/src/telemetry-system/index.ts
  packages/node/iii/src/telemetry-system/types.ts
  packages/node/iii/src/telemetry-system/utils.ts
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/src/iii/telemetry_types.py
  packages/python/iii/tests/test_telemetry.py
  packages/python/iii/tests/test_telemetry_types.py
  packages/python/iii/uv.lock
  packages/rust/iii/Cargo.lock
  packages/rust/iii/src/telemetry/mod.rs
  packages/rust/iii/src/telemetry/types.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

feat: send worker PID
  packages/node/iii/src/iii.ts
  packages/python/iii-example/uv.lock
  packages/python/iii/src/iii/iii.py
  packages/rust/iii/src/iii.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

docs: overhaul READMEs for consistency across all SDKs
  README.md
  packages/node/iii/README.md
  packages/python/README.md
  packages/python/iii/README.md
  packages/rust/iii/README.md
Due: none

refactor: improve function registration and error handling across SDKs
  Makefile
  packages/node/iii/src/iii.ts
  packages/node/iii/tests/http-external-functions.test.ts
  packages/python/iii/src/iii/iii.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/tests/http_external_functions.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

refactor: streamline function registration logic in III class
  packages/python/iii/src/iii/iii.py
Due: ruff-python, mypy-python

style: improve code formatting in III class function registration
  packages/python/iii/src/iii/iii.py
Due: ruff-python, mypy-python

fix
  packages/python/iii/src/iii/iii.py
Due: ruff-python, mypy-python

Path conditions:
  ruff-python: any of: ^packages/python/.*\.py$ and \.py$
  mypy-python: any of: ^packages/python/.*\.py$ and \.py$
  biome-node: any of: ^packages/node/.*\.(ts|js|tsx|jsx)$
  cargo-fmt-rust: any of: ^packages/rust/.*\.rs$ and \.rs$
