Repository iii-hq/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-python, mypy-python, biome-node, cargo-fmt-rust

ruff-python:
  name: ruff (Python)
  entry: bash -c 'cd packages/python/iii && ruff check --fix src'
  language: system
  pass_filenames: false
  always_run: false

mypy-python:
  name: mypy (Python)
  entry: bash -c 'cd packages/python/iii && mypy src'
  language: system
  pass_filenames: false
  always_run: false

biome-node:
  name: biome (Node.js)
  entry: bash -c 'cd packages/node && npx @biomejs/biome check --write packages/node'
  language: system
  pass_filenames: false
  always_run: false

cargo-fmt-rust:
  name: cargo fmt (Rust)
  entry: bash -c 'cd packages/rust/iii && cargo fmt --all'
  language: system
  pass_filenames: false
  always_run: false

chore: remove bridge
  packages/rust/iii/README.md
  packages/rust/iii/src/bridge.rs
  packages/rust/iii/src/error.rs
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/logger.rs
  packages/rust/iii/src/protocol.rs
  packages/rust/iii/src/stream.rs
  packages/rust/iii/src/triggers.rs
  packages/rust/iii/src/types.rs
Due: cargo-fmt-rust

fix: simplify error handling in SDK
  packages/node/iii/src/iii.ts
  packages/node/iii/src/logger.ts
  packages/node/iii/src/telemetry-system/index.ts
  packages/node/iii/src/telemetry-system/log-exporter.ts
  packages/rust/iii/Cargo.lock
  packages/rust/iii/Cargo.toml
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/telemetry/mod.rs
Due: biome-node, cargo-fmt-rust

refactor: enhance error handling and telemetry initialization
  packages/node/iii/src/iii.ts
  packages/node/iii/src/telemetry-system/index.ts
  packages/node/iii/src/telemetry-system/log-exporter.ts
  packages/rust/iii/src/telemetry/mod.rs
Due: biome-node, cargo-fmt-rust

chore: simplify CI workflows by removing Rust binary validation
  .github/CI-WORKFLOWS.md
  .github/workflows/validate-release.yml
Due: none

feat: state renames
  packages/node/iii-example/src/state.ts
  packages/node/iii/tests/state.test.ts
  packages/node/iii/tests/types.ts
  packages/python/iii-example/src/state.py
Due: ruff-python, mypy-python, biome-node

feat: state renames and new types
  packages/node/iii-example/src/state.ts
  packages/node/iii/package.json
  packages/node/iii/src/state.ts
  packages/node/iii/tests/state.test.ts
  packages/node/iii/tests/types.ts
  packages/node/iii/tests/utils.ts
  packages/node/iii/tsdown.config.ts
Due: biome-node

feat: state renames (#19)
  packages/node/iii-example/src/state.ts
  packages/node/iii/package.json
  packages/node/iii/src/state.ts
  packages/node/iii/tests/state.test.ts
  packages/node/iii/tests/types.ts
  packages/node/iii/tests/utils.ts
  packages/node/iii/tsdown.config.ts
  packages/python/iii-example/src/state.py
Due: ruff-python, mypy-python, biome-node

feat: rename functions
  packages/node/iii-example/src/hooks.ts
  packages/node/iii-example/src/index.ts
  packages/node/iii-example/src/state.ts
  packages/node/iii-example/src/stream.ts
  packages/node/iii-example/src/test-worker-metrics.ts
  packages/node/iii/src/iii-constants.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/tests/state.test.ts
  packages/node/iii/tests/stream.test.ts
  packages/python/iii-example/src/state.py
  packages/python/iii-example/src/stream.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/logger.py
  packages/python/iii/tests/test_logger_function_ids.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/stream.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

feat: rename functions (#20)
  packages/node/iii-example/src/hooks.ts
  packages/node/iii-example/src/index.ts
  packages/node/iii-example/src/state.ts
  packages/node/iii-example/src/stream.ts
  packages/node/iii-example/src/test-worker-metrics.ts
  packages/node/iii/src/iii-constants.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/tests/state.test.ts
  packages/node/iii/tests/stream.test.ts
  packages/python/iii-example/src/state.py
  packages/python/iii-example/src/stream.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/logger.py
  packages/python/iii/tests/test_logger_function_ids.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/stream.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

refactor: update type definitions to use 'any' for contravariant compatibility
  packages/node/iii-example/src/hooks.ts
  packages/node/iii-example/src/stream.ts
  packages/node/iii-example/src/test-worker-metrics.ts
  packages/node/iii/src/iii-types.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/src/logger.ts
  packages/node/iii/src/telemetry-system/context.ts
  packages/node/iii/src/telemetry-system/index.ts
  packages/node/iii/src/telemetry-system/types.ts
  packages/node/iii/src/types.ts
  packages/node/iii/tests/otel-defaults.test.ts
  packages/node/iii/tests/stream.test.ts
  packages/node/iii/tests/utils.ts
Due: biome-node

refactor: enhance type safety and structure in API hooks and streams
  packages/node/iii-example/src/hooks.ts
  packages/node/iii-example/src/index.ts
  packages/node/iii-example/src/stream.ts
  packages/node/iii-example/src/test-worker-metrics.ts
  packages/node/iii-example/src/types.ts
Due: biome-node

fix: add missing newline at end of file in types.ts
  packages/node/iii-example/src/types.ts
Due: biome-node

fix: handle missing createdAt date in todo creation
  packages/node/iii-example/src/stream.ts
Due: biome-node

feat: enhance OpenTelemetry configuration and logging (#21)
  packages/node/iii-example/src/hooks.ts
  packages/node/iii-example/src/index.ts
  packages/node/iii-example/src/stream.ts
  packages/node/iii-example/src/types.ts
  packages/node/iii/src/iii-types.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/src/logger.ts
  packages/node/iii/src/telemetry-system/context.ts
  packages/node/iii/src/telemetry-system/index.ts
  packages/node/iii/src/telemetry-system/types.ts
  packages/node/iii/src/types.ts
  packages/node/iii/tests/otel-defaults.test.ts
  packages/node/iii/tests/stream.test.ts
  packages/node/iii/tests/utils.ts
Due: biome-node

feat: rename trigger type api to http
  README.md
  packages/node/iii-example/src/hooks.ts
  packages/node/iii/README.md
  packages/node/iii/tests/healthcheck.test.ts
  packages/python/iii-example/src/hooks.py
  packages/python/iii/README.md
Due: ruff-python, mypy-python, biome-node

feat: rename trigger type api to http (#23)
  README.md
  packages/node/iii-example/src/hooks.ts
  packages/node/iii/README.md
  packages/node/iii/tests/healthcheck.test.ts
  packages/python/iii-example/src/hooks.py
  packages/python/iii/README.md
Due: ruff-python, mypy-python, biome-node

refactor: standardize trigger type property across SDKs
  README.md
  packages/node/iii-example/src/hooks.ts
  packages/node/iii/README.md
  packages/node/iii/src/iii-types.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/src/types.ts
  packages/node/iii/tests/healthcheck.test.ts
  packages/python/iii-example/src/hooks.py
  packages/python/iii/README.md
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/iii_types.py
  packages/rust/iii/Cargo.lock
Due: ruff-python, mypy-python, biome-node

refactor: update import statements and improve code consistency
  packages/node/iii/src/iii.ts
  packages/python/iii/src/iii/iii.py
Due: ruff-python, mypy-python, biome-node

fix: use type instead of trigger_type in state.test.ts
  packages/node/iii/tests/state.test.ts
Due: biome-node

refactor: standardize trigger type property across SDKs (#22)
  README.md
  packages/node/iii-example/src/hooks.ts
  packages/node/iii/README.md
  packages/node/iii/src/iii-types.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/src/types.ts
  packages/node/iii/tests/healthcheck.test.ts
  packages/node/iii/tests/state.test.ts
  packages/python/iii-example/src/hooks.py
  packages/python/iii/README.md
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/iii_types.py
  packages/rust/iii/Cargo.lock
Due: ruff-python, mypy-python, biome-node

feat(node): add integration tests matching Python SDK coverage
  .github/workflows/ci-node.yml
  packages/node/iii/tests/api-triggers.test.ts
  packages/node/iii/tests/bridge.test.ts
  packages/node/iii/tests/exports.test.ts
  packages/node/iii/tests/fixtures/config-test.yaml
  packages/node/iii/tests/healthcheck.test.ts
  packages/node/iii/tests/kv-server.test.ts
  packages/node/iii/tests/pubsub.test.ts
  packages/node/iii/tests/setup.ts
  packages/node/iii/tests/state.test.ts
  packages/node/iii/tests/stream.test.ts
  packages/node/iii/tests/utils.ts
Due: biome-node

feat(types): add optional timeout parameter to call method and introduce listFunctions method
  packages/node/iii/src/types.ts
Due: biome-node

feat(node): add integration tests matching Python SDK coverage (#24)
  .github/workflows/ci-node.yml
  packages/node/iii/src/types.ts
  packages/node/iii/tests/api-triggers.test.ts
  packages/node/iii/tests/bridge.test.ts
  packages/node/iii/tests/exports.test.ts
  packages/node/iii/tests/fixtures/config-test.yaml
  packages/node/iii/tests/healthcheck.test.ts
  packages/node/iii/tests/kv-server.test.ts
  packages/node/iii/tests/pubsub.test.ts
  packages/node/iii/tests/setup.ts
  packages/node/iii/tests/state.test.ts
  packages/node/iii/tests/stream.test.ts
  packages/node/iii/tests/utils.ts
Due: biome-node

feat: stream trigger ts types
  packages/node/iii/src/stream.ts
  packages/node/iii/tests/stream.test.ts
Due: biome-node

feat(telemetry): add runtime-agnostic fetch auto-instrumentation
  packages/node/iii-example/src/hooks.ts
  packages/node/iii-example/src/index.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
  packages/node/iii/src/telemetry-system/index.ts
  packages/node/iii/src/telemetry-system/types.ts
  packages/node/iii/tests/fetch-instrumentation.test.ts
Due: biome-node

fix(telemetry): fix Biome lint/format issues in fetch instrumentation
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
  packages/node/iii/tests/fetch-instrumentation.test.ts
Due: biome-node

fix(telemetry): fix TS error by capturing originalFetch in local const before closure
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
Due: biome-node

fix(telemetry): leave span status UNSET for successful fetch responses
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
  packages/node/iii/tests/fetch-instrumentation.test.ts
Due: biome-node

fix(telemetry): set span status to OK for successful fetch responses
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
  packages/node/iii/tests/fetch-instrumentation.test.ts
Due: biome-node

feat(telemetry): add url.query attribute to fetch spans
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
  packages/node/iii/tests/fetch-instrumentation.test.ts
Due: biome-node

feat(telemetry): add http.request.body.size attribute to fetch spans
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
  packages/node/iii/tests/fetch-instrumentation.test.ts
Due: biome-node

feat(telemetry): add http.response.body.size attribute to fetch spans
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
  packages/node/iii/tests/fetch-instrumentation.test.ts
Due: biome-node

feat(telemetry): capture safe request/response headers in fetch spans
  packages/node/iii/src/telemetry-system/fetch-instrumentation.ts
  packages/node/iii/tests/fetch-instrumentation.test.ts
Due: biome-node

refactor(tests): format callArgs declaration for improved readability in fetch instrumentation tests
  packages/node/iii/tests/fetch-instrumentation.test.ts
Due: biome-node

feat(telemetry): implement OpenTelemetry support for HTTP client instrumentation
  packages/python/iii/pyproject.toml
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/src/iii/telemetry_types.py
  packages/python/iii/tests/test_telemetry.py
  packages/python/iii/tests/test_telemetry_types.py
  packages/rust/iii/Cargo.lock
  packages/rust/iii/Cargo.toml
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/telemetry/http_instrumentation.rs
  packages/rust/iii/src/telemetry/mod.rs
  packages/rust/iii/src/telemetry/types.rs
Due: ruff-python, mypy-python, cargo-fmt-rust

feat(python): add otlp_endpoint to OtelConfig and OTLP exporter dep
  packages/python/iii-example/pyproject.toml
  packages/python/iii-example/uv.lock
  packages/python/iii/pyproject.toml
  packages/python/iii/src/iii/telemetry_types.py
  packages/python/iii/tests/test_telemetry_types.py
Due: ruff-python, mypy-python

feat(python): add OTLP HTTP span exporter to init_otel
  packages/python/iii/src/iii/telemetry.py
  packages/python/iii/tests/test_telemetry.py
Due: ruff-python, mypy-python

feat(python): add traceparent/baggage fields to invoke/result messages
  packages/python/iii/src/iii/iii_types.py
Due: ruff-python, mypy-python

feat(python): propagate W3C traceparent through invoke/result messages
  packages/python/iii/src/iii/iii.py
  packages/python/iii/tests/test_context_propagation.py
Due: ruff-python, mypy-python

Path conditions:
  ruff-python: any of: ^packages/python/.*\.py$ and \.py$
  mypy-python: any of: ^packages/python/.*\.py$ and \.py$
  biome-node: any of: ^packages/node/.*\.(ts|js|tsx|jsx)$
  cargo-fmt-rust: any of: ^packages/rust/.*\.rs$ and \.rs$
