Repository iii-hq/sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-python, mypy-python, biome-node, cargo-fmt-rust

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-python
        name: ruff (Python)
        entry: bash -c 'cd packages/python/iii && ruff check --fix src'
        language: system
        types: [python]
        files: ^packages/python/.*\.py$
        pass_filenames: false
        always_run: false

      - id: mypy-python
        name: mypy (Python)
        entry: bash -c 'cd packages/python/iii && mypy src'
        language: system
        types: [python]
        files: ^packages/python/.*\.py$
        pass_filenames: false
        always_run: false

      - id: biome-node
        name: biome (Node.js)
        entry: bash -c 'cd packages/node && npx @biomejs/biome check --write packages/node'
        language: system
        files: ^packages/node/.*\.(ts|js|tsx|jsx)$
        pass_filenames: false
        always_run: false

      - id: cargo-fmt-rust
        name: cargo fmt (Rust)
        entry: bash -c 'cd packages/rust/iii && cargo fmt --all'
        language: system
        types: [rust]
        files: ^packages/rust/.*\.rs$
        pass_filenames: false
        always_run: false

chore: addressing comments
  packages/node/iii/src/iii.ts
  packages/python/iii/src/iii/iii.py
  packages/rust/iii/src/channels.rs
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/tests/api_triggers.rs
  packages/rust/iii/tests/data_channels.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

chore: removing tests folder from npm publish bundle
  packages/node/iii/.npmignore
Due: none

style: fix lint
  packages/python/iii/src/iii/__init__.py
Due: ruff-python, mypy-python

style: fix mypy
  packages/python/iii/src/iii/channels.py
Due: ruff-python, mypy-python

ci: setup iii engine
  .github/workflows/ci-python.yml
  packages/python/iii/tests/conftest.py
Due: ruff-python, mypy-python

style: fix clippy
  packages/rust/iii/src/channels.rs
Due: cargo-fmt-rust

ci: setup iii engine for rust
  .github/workflows/ci-node.yml
  .github/workflows/ci-rust.yml
  packages/rust/iii/tests/api_triggers.rs
  packages/rust/iii/tests/data_channels.rs
Due: cargo-fmt-rust

fix: sdk final adjustments + addressing comments
  packages/node/iii/src/channels.ts
  packages/node/iii/src/utils.ts
  packages/node/iii/tests/api-triggers.test.ts
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/channels.py
  packages/python/iii/src/iii/types.py
  packages/rust/iii/src/channels.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

fix: format
  packages/node/iii/src/index.ts
  packages/node/iii/src/types.ts
  packages/node/iii/src/utils.ts
  packages/node/iii/tests/data-channels.test.ts
Due: biome-node

fix: correct Streams example in Rust README
  packages/rust/iii/README.md
Due: none

fix: address review findings across READMEs
  README.md
  packages/python/iii/README.md
  packages/rust/iii/README.md
Due: none

feat: add registerHttpFunction API for HTTP external functions
  packages/node/iii/src/iii-types.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/src/index.ts
  packages/node/iii/src/types.ts
  packages/node/iii/tests/fixtures/config-test.yaml
  packages/node/iii/tests/http-external-functions.test.ts
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/iii_types.py
  packages/python/iii/tests/test_http_external_functions_integration.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/protocol.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

feat(tests): enhance HTTP external functions tests for registration, event delivery, and unregistration
  packages/node/iii/tests/http-external-functions.test.ts
  packages/python/iii/tests/test_http_external_functions_integration.py
Due: ruff-python, mypy-python, biome-node

feat: add validation for duplicate function IDs in registration
  packages/node/iii/src/iii.ts
  packages/node/iii/tests/http-external-functions.test.ts
  packages/python/iii/src/iii/iii.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/protocol.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

fix: improve enum variant handling and clean up serialization code
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/protocol.rs
Due: cargo-fmt-rust

feat: update test configuration for HTTP functions and API module
  .github/engine-config/test-config.yml
Due: none

feat: HTTP external functions SDK support (#33)
  .github/engine-config/test-config.yml
  packages/node/iii/src/iii-types.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/src/index.ts
  packages/node/iii/src/types.ts
  packages/node/iii/tests/fixtures/config-test.yaml
  packages/node/iii/tests/http-external-functions.test.ts
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/iii_types.py
  packages/python/iii/tests/test_http_external_functions_integration.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/protocol.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

ci: add III Engine setup and teardown to release workflow
  .github/workflows/release.yml
Due: none

ci: add III Engine setup and teardown to release workflow (#35)
  .github/workflows/release.yml
Due: none

feat: add optional metadata parameter to register_function and IIIClient interface (#34)
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/types.py
  packages/python/iii/tests/test_iii_registration_dedup.py
Due: ruff-python, mypy-python

feat(middleware): implement middleware registration and usage methods
  packages/node/iii/src/iii-types.ts
  packages/node/iii/src/iii.ts
  packages/node/iii/src/index.ts
  packages/node/iii/src/types.ts
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/src/iii/iii_types.py
  packages/python/iii/src/iii/types.py
  packages/rust/iii/src/iii.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/src/protocol.rs
  packages/rust/iii/src/types.rs
Due: ruff-python, mypy-python, biome-node, cargo-fmt-rust

fix: http util should return the result as well
  packages/node/iii/src/utils.ts
Due: biome-node

fix: type
  packages/node/iii/src/utils.ts
Due: biome-node

fix: biome
  packages/node/iii/src/utils.ts
Due: biome-node

chore: moving back to void
  packages/node/iii/src/utils.ts
Due: biome-node

fix: http util should return the result as well (#36)
  packages/node/iii/src/utils.ts
Due: biome-node

chore: ignore .worktrees
  .gitignore
Due: none

fix: restore gitignore
  .gitignore
Due: none

docs: replace "callable" with "invoked by name" in Python and Rust API tables
  packages/python/iii/README.md
  packages/rust/iii/README.md
Due: none

docs: align all SDK READMEs to identical structure
  README.md
  packages/python/iii/README.md
  packages/rust/iii/README.md
Due: none

docs: add connect() prerequisite notes to trigger and invoke examples
  packages/python/iii/README.md
  packages/rust/iii/README.md
Due: none

docs: add crates.io badge to root README
  README.md
Due: none

docs: add TriggerHandler comment to Rust custom trigger type example
  packages/rust/iii/README.md
Due: none

test: add test to increase code coverage
  .github/workflows/ci-node.yml
  .github/workflows/ci-python.yml
  .gitignore
  packages/node/iii/package.json
  packages/node/iii/tests/otel-worker-gauges.test.ts
  packages/node/iii/tests/worker-metrics.test.ts
  packages/node/iii/vitest.config.ts
  packages/node/pnpm-lock.yaml
  packages/python/iii/pyproject.toml
  packages/python/iii/tests/test_worker_metrics.py
  packages/python/iii/uv.lock
Due: ruff-python, mypy-python, biome-node

feat: use init for python and rust sdk
  packages/python/iii-example/src/hooks.py
  packages/python/iii-example/src/iii.py
  packages/python/iii-example/src/main.py
  packages/python/iii-example/src/state.py
  packages/python/iii-example/src/stream.py
  packages/python/iii/README.md
  packages/python/iii/src/iii/__init__.py
  packages/python/iii/src/iii/iii.py
  packages/python/iii/tests/test_init_api.py
  packages/python/iii/uv.lock
  packages/rust/iii-example/Cargo.lock
  packages/rust/iii-example/src/main.rs
  packages/rust/iii/Cargo.lock
  packages/rust/iii/README.md
  packages/rust/iii/src/error.rs
  packages/rust/iii/src/lib.rs
  packages/rust/iii/tests/init_api.rs
Due: ruff-python, mypy-python, cargo-fmt-rust

fix: mypy
  packages/python/iii/src/iii/iii.py
Due: ruff-python, mypy-python
